[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SeroTrackR"]
	path = SeroTrackR
	url = https://github.com/dionnecargy/serotrackr
